.formulrio-registro-pp-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}


.formulario-pp-campos {
  width: 90vw;
    
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #fff;

  border: 1px solid #e4e4e7;
  padding: 1rem;
  border-radius: 10px;
  
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .formulrio-registro-pp-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60vw;
    max-width: 900px;
  }
  
  .formulario-pp-campos {
    padding: 1rem;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 0.375rem rgba(0, 0, 0, 0.75);
    width: 100%;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    height: 43.75rem; 
  }
}
