.loginForm-organismo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #4141413f;
    align-items: center;
    width: 90%;
    border: 1px solid #696969;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 1rem;
}

.input-lg-container {
    display: flex;
    align-items: center;
    background: #66cbed23;
    border-radius: 7px;
    padding-inline: 10px;
}

.group-container{
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
    width: 90%;
}

@media screen and (min-width: 768px) {
    .loginForm-organismo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #4141413f;
        width: 30%;
        border: 1px solid #696969;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
        padding: 2rem;
        
        & h1 {
            font-size: 3rem;
            margin-bottom: 4rem;
        }

        figure > img {
            width: 240px;
            height: 180px;
        }
    }
    
    .group-container {
        width: 100%;
    }
    
}