.loginForm-organismo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-container{
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
}