.Indice-container-organismo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  background: transparent;
  width: 95%;
}

.tttlo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Indice-container-organismo > * {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .tttlo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-aside {
    width: 200px;
    left: 0;
    top: 0;
    height: 75vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
  }
  
  .menu-aside .botones-indicepp_pt-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}