body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #f5f8fb;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.inputTxt-atomo[data-variant="login"]:-webkit-autofill,
.inputTxt-atomo[data-variant="login"]:-webkit-autofill:hover,
.inputTxt-atomo[data-variant="login"]:-webkit-autofill:focus,
.inputTxt-atomo[data-variant="login"]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  background: transparent !important;
  -webkit-text-fill-color: #fff;
  transition: background 5000s ease-in-out 0s !important;
}
