.tituloPagina-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.flecha-img {
  width: 30px;
}

.titulo-modulo-txt {
  font-weight: 550;
  font-size: 23px;
  color: #00a8e1;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .tituloPagina-container {
    justify-content: flex-start;
    gap: 20px;

  }

  .titulo-modulo-txt {
    font-weight: 550;
    font-size: 1.8rem;
    color: #00a8e1;
  }
}
