.tituloPagina-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.titulo-modulo-txt {
  font-weight: 550;
  font-size: 23px;
  color: #000;
  align-items: flex-start;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .tituloPagina-container {
    justify-content: space-between;
    gap: 20px;

  }

  .titulo-modulo-txt {
    font-weight: 550;
    font-size: 1.8rem;
    color: #000;
  }
}
