.filtros {
  height: 100vh;
  display: flex;
  flex-direction: column;

  & .btnMenu {
    width: fit-content;
    display: flex;
    position: fixed;
    top: 40px;
    right: 10px;
    border-radius: 5px;
    z-index: 9999;
    cursor: pointer;
    outline: none;
    border: none;
  }

  & .btnMenu:hover {
    box-shadow: 0 0 10px 0 #ccc;
  }

  & hr {
    width: 95%;
  }

  & .titulo {
    height: 50px;

    display: flex;
    align-items: center;

    gap: 10px;

    & .tt {
      font-size: 24px;
      font-weight: bolder;
    }
  }

  & .tabFilt {
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    width: 95%;
    align-self: center;
    border-radius: 10px;
    position: absolute;
    background: #fff;
    margin: 3rem 0 0 0;
    box-shadow: 0 5px 10px 0 #666;

    & .btnX {
      cursor: pointer;
      font-size: larger;
      outline: none;
      border: none;
      border-radius: 5px;
      margin: 0.5rem 0 0 0;
    }

    & .btnX:hover {
      box-shadow: 0 0 10px 0 #ccc;
    }

    & .fltr {
      width: 95%;
      color: #666;
      display: flex;
      justify-content: space-between;

      & .ptit {
        font-weight: bold;
      }

      & select {
        width: 80%;
        border-radius: 10px;
        background: #66cbed;
        color: #fff;
        outline: none;
      }
    }

    & .rfch {
      width: 95%;
      display: flex;
      align-items: center;
      color: #666;

      & .fechas {
        display: flex;
      }
    }

    & .lt {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #666;

      & #lt {
        width: 90%;
      }
    }
  }

  & .selected {
    height: 95%;
    padding: 0 1rem;

    & .slctP {
      font-weight: bold;

      & .slct {
        background: #ccc;
        padding: 3px 7px;
        border-radius: 50%;
        font-weight: lighter;
      }
    }
  }

  & .crd {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;

    & .sup {
      background: green;
      width: 100%;
      height: 5%;
      border-radius: 10px 10px 0 0;
    }

    & .info {
      display: flex;
      flex-direction: column;
      padding: 0 0.5rem;

      & h3 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & span {
          color: green;
        }
      }

      & p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;
      }
      & .sPan {
        padding: 4px 10px;
        border-radius: 16px;
        border: 1px solid #ccc;
      }
    }
  }

  & .crdSlct {
    background: #eee;
    height: max-content;
    box-shadow: inset 0 0 10px 5px #ddd;
    transition: all 0.2s;
    & svg {
      color: green;
    }
  }
}
