.user-options-container {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 2px;
  display: inline-block;
  border: 1px solid #aaa;
  background: #eee;
  border-radius: 50%;
}

.dropdown-checkbox {
  display: none;
}

.content-user-desp {
  position: absolute;
  right: 0;
  background: #f3f9ff;
  min-width: 200px;
  box-shadow: 0 8px 18px #0000001a;
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
  transform-origin: top right;
  border: 1px solid #ccc;

  opacity: 0;
  transform: scale(0);
  visibility: hidden;

  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
}

.dropdown-checkbox:checked ~ .content-user-desp {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0s;
}

.userImg {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  opacity: 0;
}

.nombreUser,
.rolUser {
  text-align: center;
  margin-bottom: 8px;
  transition: opacity 0.3s ease 0.3s;
  opacity: 0;
}

.dropdown-checkbox:checked ~ .content-user-desp .userImg,
.dropdown-checkbox:checked ~ .content-user-desp .nombreUser,
.dropdown-checkbox:checked ~ .content-user-desp .rolUser {
  opacity: 1;
}

.userImg img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #000;
  box-shadow: 0 0 10px 3px #aaa;
}

.nombreUser p {
  font-weight: bold;
  margin: 0;
}

.rolUser p {
  color: #666;
  margin: 0;
  font-size: 14px;
}

.logo-image {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: block;
}

@media screen and (min-width: 768px) {
  .user-options-container {
    position: relative;
    display: inline-block;
  }

  .dropdown-toggle {
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    border: 1px solid #aaa;
    background: #eee;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }

  .dropdown-toggle:hover {
    scale: 1.05;
  }

  .dropdown-checkbox {
    display: none;
  }

  .content-user-desp {
    position: absolute;
    right: 0;
    background: #f5f8fb;
    min-width: 200px;
    box-shadow: 0 8px 16px #0000001a;
    border-radius: 10px;
    padding: 16px;
    z-index: 1;
    transform-origin: top right;
    border: 1px solid #ccc;

    opacity: 0;
    transform: scale(0);
    visibility: hidden;

    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0s 0.5s;
  }

  .dropdown-checkbox:checked ~ .content-user-desp {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0s 0s;
  }

  .userImg {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    transition: opacity 0.3s ease 0.2s;
    opacity: 0;
  }

  .nombreUser,
  .rolUser {
    text-align: center;
    margin-bottom: 8px;
    transition: opacity 0.3s ease 0.2s;
    opacity: 0;
  }

  .dropdown-checkbox:checked ~ .content-user-desp .userImg,
  .dropdown-checkbox:checked ~ .content-user-desp .nombreUser,
  .dropdown-checkbox:checked ~ .content-user-desp .rolUser {
    opacity: 1;
  }

  .userImg img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .nombreUser p {
    font-weight: bold;
    margin: 0;
  }

  .rolUser p {
    color: #666;
    margin: 0;
    font-size: 14px;
  }

  .logo-image {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: block;
  }
}
