.container-box-datos-pp {
  background: #ddd;
  border-radius: 10px;
  width: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  align-self: center;

}

.datosPP-organismo-container {
  margin: 0;
  padding: .5rem;

}

.datosPP-organismo-container p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.datosPP-organismo-container .ttPp {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .container-box-datos-pp {
    background: red;
    border-radius: 10px;
    width: 90%;
    margin: 0;
    padding: 0;
  }
  
  .datosPP-organismo-container {
    margin: 0;
    padding: .5rem;
  }
  
  .datosPP-organismo-container p {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .datosPP-organismo-container .ttPp {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
}