.datosPP-organismo-container {
  color: #20abe2;
  font-size: 18px;
  width: 100%;
  border-radius: 10px;
  background-color: #d9d9d9;
}

.container-box-datos-pp {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container-box-datos-pp {
    max-width: 52%;
  }
}
