.ej {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;

  & .bck {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;

    & svg {
      width: 32px;
      height: 32px;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        width: 36px;
        height: 36px;
      }
    }

    & h1 {
      padding-right: 1rem;
    }
  }
}

.MenuPrincipal-container-pagina {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 99.8vh;
}

.Menu-titulo-container {
  width: 80vw;
  font-weight: 550;
  font-size: 36px;
  color: #00a8e1;
}

@media screen and (min-width: 768px) {
  .MenuPrincipal-container-pagina {
    width: 99.8vw;
    display: flex;
    align-items: center;
  }
  .Menu-titulo-container {
    font-size: 48px;
    padding-left: 3rem;
  }
  .main-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75%;
    width: 90%;
    flex-wrap: wrap inherit;
  }
}
