.MenuPrincipal-container-pagina{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    height: 99.8vh;
}

.Menu-titulo-container{
    width: 22.5rem;
    font-weight: 550;
    font-size: 36px;
    color: #00a8e1;
}

@media screen and (min-width: 768px) {
    .MenuPrincipal-container-pagina {
        width: 99.8vw;
    }
    .Menu-titulo-container {
        width: 50%;
        padding-left: 5rem;
        font-size: 48px;
    }
    .main-menu-container {
        background: red;
        
    }
}