.datosUsuario-container {
  width: 100%;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  background: #fffcfc;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #000;
}

.datosUsuario .logOut {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 95%;
  transition: all 0.2s ease-in-out;
  padding: 0 0 0 .4rem;
  margin: 0 0 5px 0;
  background: #ffdbdb;
  border-radius: 5px;
}

.datosUsuario .logOut:hover {
  color: #fff;
  background: #d30000;
  padding: 0 0 0 .4rem;
}


.datosUsuario {
  width: 200px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 0.5rem;



  & p {
    width: 100%;

    display: flex;
    align-items: center;

    gap: 8px;
    margin: 0;
    padding: 0.3rem;

    & span:not(.fecha) {
      display: flex;
      align-items: center;
      width: 30px;
      height: 30px;
    }
  }


  & .fecha {
    font-weight: bold;
    background: transparent;
  }
}

@media screen and (min-width: 768px) {

  .datosUsuario .logOut {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 95%;
    transition: all 0.2s ease-in-out;
    padding: 0 0 0 .4rem;
    margin: 0 0 5px 0;
  }
  
  .datosUsuario .logOut:hover {
    color: #fff;
    background: #d30000;
    padding: 0 0 0 .4rem;
  }

  .datosUsuario-container {
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #333;
    color: #ccc;
  }

  .datosUsuario {
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0 0.5rem;

    & p {
      width: 100%;

      display: flex;
      align-items: center;

      gap: 12px;
      margin: 0;
      padding: 0.3rem;

      & span:not(.fecha) {
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
      }
    }

    & .fecha {
      font-weight: bold;
      background: transparent;
    }
  }
}
