.datosUsuario-container {
  width: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: white;
  background-color: #0284c7;
}

.datosUsuario {
  width: 200px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 0.5rem;

  & p {
    width: 100%;

    display: flex;
    align-items: center;

    gap: 12px;
    margin: 0;
    padding: 0.3rem;

    & span:not(.fecha) {
      display: flex;
      align-items: center;
      width: 30px;
      height: 30px;
    }
  }

  & .fecha {
    font-weight: bold;
    background: transparent;
  }
}

@media screen and (min-width: 768px) {
  .datosUsuario-container {
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    background-color: #0284c7;
  }

  .datosUsuario {
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0 0.5rem;

    & p {
      width: 100%;

      display: flex;
      align-items: center;

      gap: 12px;
      margin: 0;
      padding: 0.3rem;

      & span:not(.fecha) {
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
      }
    }

    & .fecha {
      font-weight: bold;
      background: transparent;
    }
  }
}
