.inputTxt-atomo{
    background-color: #66cbed;
    color: #ffffff;
    font-size: 18px;
    height: 2rem;
    border: 1px solid black;
    border-radius: 7px;
}

.inputTxt-atomo::placeholder{
    color: #edececb9;
}
.inputTxt-atomo:focus {
    outline: none;
}
