.inicioSesion-pagina{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    color: #fff;
    align-items: center;
    width: 100dvw;
    gap: 100px;
    justify-content: space-around;
    background: linear-gradient(to bottom, #0f172a, #30425f);
}
.titulo{
    font-size: 44px;
    user-select: none;
}

img {
    pointer-events: none;
    user-select: none;
}