.inicioSesion-pagina{
    height: 100dvh;
    width: 100dvw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(to bottom, #0f172a, #30425f);
    color: #ddd;
    
    gap: 100px;
}
/* .titulo{
    font-size: 44px;
    user-select: none;
} */

/* img {
    pointer-events: none;
    user-select: none;
} */