.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

.loading svg polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: #ff4d5033;
}

.loading svg polyline#front {
  fill: none;
  stroke: #00ffff;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 2s linear infinite;
  animation-delay: 0s;
}

.loading svg polyline#front2 {
  fill: none;
  stroke: #00ffff;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1s linear infinite;
  animation-delay: 0s;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}
