/* El contenedor de rutas tenga posición relativa */
.route-transition-container {
  position: relative;
  width: 100%;
  height: 90vh;
}

/* Clases para slide-left  (animación al navegar o ir a una nueva ruta)*/
.slide-left-enter {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
}

.slide-left-enter-active {
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}

.slide-left-exit {
  transform: translateX(0);
  position: absolute;
  width: 100%;
}

.slide-left-exit-active {
  transform: translateX(-100%);
  transition: all 300ms ease-in-out;
}

/* Clases para slide-right (animación al volver) */
.slide-right-enter {
  transform: translateX(-100%);
  position: absolute;
  width: 100%;
}

.slide-right-enter-active {
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}

.slide-right-exit {
  transform: translateX(0);
  position: absolute;
  width: 100%;
}

.slide-right-exit-active {
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
}

/* Estilos Dark mode*/

.theme-transition {
  transition: all 0.5s ease-in-out;
}

#Dark .container-box-datos-pp {
  background: #282c34;
  color: #ccc;
  box-shadow: none;
  border: 1px solid #555;
}

#Dark #e_coli, #Dark #coliformes {
  background: #575b63;
  color: #8f8f8f;
  border: none;
}

#Dark .dropdown {
  background: #1e1e1e;
}

#Dark .config span {
  background: transparent;
  color: #ccc;
}
 
#Dark .datosUsuario-container {
  background: #282c34;
  color: #ccc;
  box-shadow: none;
  border: 1px solid #555;
}

#Dark .datosUsuario {
  background: none;
  color: #ccc;
  box-shadow: none;
  border: none;
}

#Dark {
  background: #282c34;
  color: #ccc;
  box-shadow: none;
}

#Dark .formulario-pp-campos {
  box-shadow: 0 20px 50px 5px #000;
  color: #ccc;
  border: 1px solid #555;
}

#Dark select {
  background: #282c34;
  color: #ccc;
  border: 1px solid #555;
}

#Dark input[type="submit"] {
  border: 1px solid #555;
  color: #ccc;
}

#Dark input[type="time"],
#Dark input[type="date"],
#Dark input[type="number"],
#Dark #observaciones, #Dark #mohos_ley {
  background: #282c34;
  color: #ccc;
  border: 1px solid #555;
}

#Dark .datosSB-organismo-container{
  color: #ccc;
  border: 1px solid #555;
  border-radius: 10px;
}

#Dark .formularioResultadoPT-pagina-container {
  background: #282c34;
}

#Dark input[type="date"]:disabled {
  background: #575b63;
  color: #8f8f8f;
}

#Dark .FormularioIngresoPP-container-pagina {
  background: #282c34;
}

#Dark .slctP1 {
  color: #ccc;
}

#Dark .slct {
  background: #ccc;
  color: #000;
}

#Dark .cicle-btn,
#Dark .btnSlct {
  background: #242424;
  color: #ccc;
  border: 1px solid #555;
}

#Dark .tabFilt {
  box-shadow: 0 0 50px 5px #000;
  border: 1px solid #555;
}

#Dark .burger span {
  background: #ccc;
}

#Dark .tituloPagina-container {
  background: #1e1e1e;
}

#Dark .tituloPagina-subcontainer {
  background: #1e1e1e;
}

#Dark .tituloPagina-subcontainer h1 {
  color: #ccc;
}

#Dark .tttlo {
  background: #1e1e1e;
}

#Dark .trigger svg {
  background: #1e1e1e;
}

#Dark .trigger {
  background: #1e1e1e;
}

#Dark .user-options-mn {
  background: #1e1e1e;
}

#Dark .user-options-container {
  background: #1e1e1e;
}

#Dark .fecha {
  color: #ccc;
}

#Dark .content-user-desp {
  box-shadow: 0 0 50px 5px #000;
  border: 1px solid #555;
}

#Dark .userImg img {
  box-shadow: none;
}

#Dark p {
  color: #ccc;
}

#Dark p > span {
  color: #000;
}

#Dark .crdSlct {
  background: #8f8f8f;
  color: #1e1e1e;
  box-shadow: none;
}

#Dark .crdSlct > p {
  color: #1e1e1e;
}

#Dark .crdSlct > p > span.sPan {
  color: #000;
  border: 1px solid #000;
}

#Dark  .info > p > .sPan {
  color: #ccc;
}

#Dark .info {
  border: 1px solid #666;
  border-radius: 10px;
}

#Dark .logOut {
  background: #991c1c;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

#Dark .logOut-a {
  background: #991c1c;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

#Dark .logOut:hover {
  background: #c02b2b;
  color: #fff;
}

#Dark label > input[type="checkbox"]:checked + span {
  color: #ccc;
}

#Dark .btn-sctn {
  background: #1e1e1e;
  border: 1px solid #333;
  transition: all 0.2s ease-in-out;
}

#Dark .btn-sctn:hover {
  background: #222;
}

#Dark .btn-sctn-a button {
  background: #1e1e1e;
}

#Dark button:not(.sidebar-nav > .nav-item) {
  background: #333;
  border: 1px solid #222;
  transition: all 0.2s ease-in-out;
}

#Dark button:not(.sidebar-nav > .nav-item):hover {
  background: #222;
}

/* Estilos para Light mode*/

/* #Light {
  background: #f2f4f6;
  color: #0d3f67;
}

#Light p {
  color: #0d3f67;
} */

/* ========================= Estilos para el dark mode del admin ============================= */

#Dark .main-header {
  background: #282c34;
  color: #ccc;
  box-shadow: none;
  border: 1px solid #555;
}

#Dark .nav-item {
  background: #282c34;
}

#Dark .chart-container {
  background: #333;
}

#Dark .sample-card {
  background: #202530;
  box-shadow: 0 10px 10px 5px #0d121f;
}

#Dark .sampleCardPp {
  background: #202530;
  box-shadow: 0 0 10px 1px #0d121f;
}

#Dark .sampleCardPp:hover {
  box-shadow: 0 0 10px 5px #0d121f;
}

#Dark .modal-content h2 {
}

#Dark .modal-content p {
  color: #333;
  border-radius: 5px;
}

#Dark .crd-admin span {
  color: #ccc;
}

#Dark .slctP1-admin {
  background: #202530;
  color: #ccc;
}

#Dark .crdSlct-admin {
  background: #1e2739;
}

#Dark .users-list li {
  background: #1e2739;
}

#Dark .formulario-registro-usuario input {
  background: #202530;
  border: none;
}

#Dark .formulario-registro-usuario input[type="submit"] {
  background: #000;
}

#Dark .card {
  background: #191f2b;
  color: #ccc;
}

#Dark .card > h3 {
  color: #ccc;
}