.nav-item {
  background: #fff;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5px;
  padding: 10px;
}

.nav-item .iconBtn {
  display: flex;
  background: #eee;
  color: #000;
  border-radius: 5px;
  padding: 4px;
  transition: all 0.2s ease-in-out;
}

.nav-item .labelBtn {
  font-size: 16px;
  margin-left: 10px;
}

.nav-item:hover:not(.active) {
  background: #eee;
  color: #000;
  font-weight: bold;
  box-shadow: 0px 2px 5px 1px #ccc;
}

.nav-item:hover:not(.active) .iconBtn {
  background: #525252;
  color: #fff;
  border-radius: 5px;
  padding: 4px;
}

.nav-item.active {
  background: #f5f8fb;
  font-weight: bolder;
  font-size: 16px;
  box-shadow: inset 0px 2px 5px 1px #ccc;
  color: #000;
}

.nav-item.active .iconBtn {
  background: #000;
  color: #ccc;
  padding: 1px 3px;
}

@media screen and (max-width: 767px) {
  .nav-item {
    justify-content: center;
  }

  .nav-item .labelBtn {
    display: none;
  }
}
